{% extends "base.html" %}
{% load static %}
{% block title %}About me{% endblock title %}

{% block content %}



<div class="container p-5 mt-5 col-6 offset-2">
    <h2 class="text-center">About Me</h2>
    <p><i class="fa-regular fa-calendar"></i> 22.05.2003 </p> 
    <p><i class="fa-solid fa-location-dot"></i> Uzbekistan, Ferghana, Bagdad </p>
    
    <p><i class="fa-solid fa-gears"></i> Technologies:<br></p>
        <ul>
            <li>Python</li>
            <li>Django</li>
            <li>Html</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>Telegram bot</li>
        </ul>
    <p><i class="fa-solid fa-language"></i> Languages:</p>
    <ul>
        <li>Uzbek: Native</li>
        <li>English: Basic</li>
        <li>Russian: Basic</li>
        <li>Korean: Basic</li>
    </ul>
    <p><i class="fa-solid fa-school"></i> Study:</p>
    <ul>
        <li>Student at Korea International University in Ferghana 3/4</li>
        <li>Najot Ta'lim 7/8</li>
    </ul>

    <p><i class="fa-solid fa-address-card"></i> Contact Me:</p>
    <ul>
        <li><i class="fa-solid fa-phone"></i> +998 90 166 22 05</li>
        <li><i class="fa-solid fa-envelope"></i> aqllibola567@gmail.com</li>
        <li><i class="fa-brands fa-telegram"></i> <a href="https://t.me/abdulazizovu">@abdulazizovu</a>
        </li>
        <li><i class="fa-brands fa-instagram"></i><a href="https://instagram.com/abbdulazizov"> @abbdulazizov</a></li>
        <li><i class="fa-brands fa-twitter"></i><a href="https://twitter.com/abdulazizovvv"> @abdulazizovvv</a></li>
    </ul>

</div>

{% endblock content %}