{% extends "base.html" %}

{% block title %}
Muallif postlari
{% endblock title %}

{% block content %}

      <!-- Posts -->
  <div class="container mt-6" style="margin-top:150px">
    {% if posts %}
    <h2>Muallif Postlari</h2>
    <div class="row">
     {% for post in posts %}
     <div class="col-md-4 mb-4 d-flex" id="customContainer">
        <div class="card flex-fill">
          <img src="{{post.image.url}}" class="card-img-top" alt="Sample Image">
          <div class="card-body">
            <h5 class="card-title"><pre>{{post.title}}</pre></h5>
            <p class="card-text">{{post.text|slice:":20"}}... <a href="{% url "post_detail" post.id %}">read more</a>
            </p>
          </div>
          <div class="card-footer text-muted">
            <small>
                <i class="bi bi-calendar-event"></i> {{ post.reg_date|date:"F d, Y " }}| {{post.reg_date|date:"H:i"}} <i class="bi bi-clock"></i> 
            </small>
        </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% else %}
    <h2>Hozircha postlar mavjud emas</h2>
    {% endif %}
  </div>

{% endblock content %}