{% extends "base.html" %}

{% block title %}{{post.title}}{% endblock title %}

{% block content %}
<div class="container mt-5">
    <div class="card">
        <img src="{{ post.image.url }}" class="img-thumbnail mx-auto d-block" alt="{{ post.title }}" style="max-width: 100%;">
      <div class="card-body">
        <h2 class="card-title">{{ post.title }}</h2>
        <p class="card-text"><pre>{{ post.text }}</pre></p>
        <p class="card-text"><small class="text-muted"><i class="bi bi-tag"></i> {{ post.category.name }}</small></p>
        <p class="card-text"><small class="text-muted"><i class="bi bi-person"></i> {{ post.author.name }}</small></p>
        <p class="card-text"><small class="text-muted"><i class="bi bi-calendar"></i> {{ post.reg_date }}</small></p>
        <p class="card-text"><small class="text-muted"><i class="bi bi-heart-fill"></i> {{ post.like }}</small></p>
      </div>
    </div>
  </div>
{% endblock content %}